.page{
	min-height: 100vh;
	background-color: $base_polar;

	&, &__content, .container{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}

	&__content{
		padding: 2rem 1rem;

		&, .container{
			flex: 1;
			height: 100%;
		}

		@media (--m-sm){ padding: 2rem; }
	}
}

.container{
	position: relative;

	&--gallery{
		width: 100%;
		max-width: $gridMaxWidth;
		margin: 0 auto;

		p{
			margin-top: 1rem;
			text-align: right;
		}

		a{
			color: $base_denim;
			font-weight: 600;
		}
	}
}
