.page{
	min-height: 100vh;

	&, &__content, .container{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}

	&__content{
		padding: 2rem;

		&, .container{
			flex: 1;
			height: 100%;
		}
	}
}

.container{
	position: relative;

	&--gallery{
		width: 90%;
		max-width: $gridMaxWidth;
		margin: 0 auto;

		p{
			margin-top: 1rem;
			text-align: right;
		}
	}
}
