.DS_Store
node_modules/
coverage/
design/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
Shopify_Inbound_Track.key

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sketch
*.mov
*.zip
